body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
button {
  text-transform: capitalize;
}

button,
input {
  cursor: pointer;
}

.App {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/game.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 6rem 1rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 60vh;
}

.card {
  width: 300px;
  gap: .3rem;
  padding-bottom: 3rem;
}

.card h2,
.card input[type=text] {
  max-width: 90%;
  overflow-x: hidden;
}

.card.true {
  background-color: #5cb85ca8;
  transform: scale(.9) rotate(360deg);
  opacity: .9;
  color: rgba(22, 1, 1, 0.507);

}

.card.false {
  background-color: #d9534fa8;
  transform: scale(.9);
  opacity: .9;
  color: rgba(22, 1, 1, 0.507);

}

.card label {
  margin-right: 1rem;
  line-height: 1.3;
  font-size: 1.1rem;
}

.card input,
.card button {
  cursor: pointer;
}

.card h2 {
  margin-bottom: 1rem;
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;
  margin-top: 1rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}

.btns button {
  padding: .3rem .6rem;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  background: transparent;
  transition: all ease-in-out .2s;
}

.btns button:hover {
  color: #67d467;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.header button {
  padding: .5rem .9rem;
  border: none;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out .2s;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(5px);
  border: rgba(255, 255, 255, 0.4) 1px solid;
}

.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.header button:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 20px -7px rgba(0, 0, 0, 0.4);
}

.glass {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  min-height: 300px;
  transition: all ease-in-out .2s;
  position: relative;
}

.glass:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 20px -7px rgba(0, 0, 0, 0.4);
}

.form {
  width: 400px;
  max-width: 100%;
  gap: 1rem;
}

.form h2 {
  margin-bottom: 2rem;
}

.form input[type=text] {
  width: 100%;
  border: none;
  padding: .3rem .7rem;
  font-size: 1.1rem;
  outline: none;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 5px;
}

.form input[type=text]::placeholder {
  color: #262626;
}

.form span input[type=text] {
  width: 90%;
}

.form span {
  justify-content: space-between;
}

.form button[type=submit] {
  padding: .3rem .6rem;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  background: rgba(255, 255, 255, 0.24);
  transition: all ease-in-out .2s;
  width: 200px;
  margin: auto;
  margin-top: 1rem;
}

.entrence {
  -webkit-animation: bounce-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
  animation: bounce-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.footer {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  min-height: 10px;
}

.footer a {
  text-decoration: none;
  color: #000;
}

.footer:hover {
  transform: scale(1) !important;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}